default-character-set=utf8mb4
default-collation=utf8mb4_unicode_ci
generator=skeema:1.5.1-community
schema=orders

[local]
flavor=mysql:5.7
host=127.0.0.1
password=
port=3306
user=

[dev]
flavor=mysql:5.7
host=main.db.muydev.com
password=
port=3306
user=

[prod]
flavor=mysql:5.7
host=
password=
port=3306
user=
