<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <springProperty scope="context" name="storeOr" source="spring.application.name"/>

    <property resource="application.properties" />
    <property name="HOME_LOG_PATH" value="/tmp/logs/" />

    <contextName>${spring.application.name}</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_PATH}/store-or.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG_PATH}/hist/store-or.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level":"%level",
                        "app":"%contextName",
                        "logger_name":"%logger",
                        "instance":"localhost",
                        "type":"log",
                        "plataform":"store-or",
                        "parent": "%X{parentSpanId:-}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc />
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                    <nonStructuredArgumentsFieldPrefix>arg</nonStructuredArgumentsFieldPrefix>
                </arguments>
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
